<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/">
        <p>username: </p>
        <input type="text" name="usrnm"></br>
        <p>password: </p>
        <input type="password" name="password"></br>
        <input type="submit" value="SUBMIT">
    </form>
    {%if name%}
    {{name}}
    {%endif%}
    {%if password%}
    {{password}}
    {%endif%}
    <a href="/signup.html">Create an account </a>
</body>
</html>