<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP| CREATE AN ACCOUNT</title>
</head>
<body>
    <h1>CREATE an account</h1>
    <form method="post" action="/signup/">
        <div class="email">
            <h2>E-mail</h2>
            <p>enter your email id</p>
            <input type="text" name="usrnm">
        </div>
        <div class="password">
            <h2>Password</h2>
            <p>enter your new password</p>
            <input type="text" name="password">
        </div>
         <input type="submit" value="Create">
    </form>
    {%if name %}
    {{name,password}}
    {%endif%}
    

</body>
</html>